@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
.particles-background {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
}
button {
  background-color: var(--color-orange-100);
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;

  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #e9a319;
  border-width: 4px;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
